<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Hello world in Polymer!</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" />

  <!-- build:css(.tmp) stylesheets/main.css -->
  <link rel="stylesheet" href="stylesheets/main.css">
  <!-- endbuild-->

  <!-- we use latest, you can choose old -->
  <script src="components/webcomponentsjs/webcomponents.js"></script>

  <!-- build:vulcanized elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endbuild-->

</head>

<body fullbleed unresolved>

  <welcome-page></welcome-page>

  <!-- build:js javascripts/main.js -->
  <script src="javascripts/main.js"></script>
  <!-- endbuild-->

</body>
</html>
